# valo-cluster

> Current version `@VERSION@`
>
> Maven
> ```
> <dependency>
>    <groupId>tnjohansson.template</groupId>
>    <artifactId>core</artifactId>
>    <version>@VERSION@</version>
> </dependency>
> ```
>
> SBT
>
> `libraryDependencies += "com.tnjohansson.template" % "core" % "@VERSION@"`
>
>

## License report
Please follow the setup instructions found in [license_finder repository](https://github.com/pivotal/LicenseFinder) and run `./etc/runLicenseFinder`